*{
margin: 0;
padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 160px;
    cursor: pointer;
}
.profile {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: 280px;
    left: -220px;
}
nav{
    flex:1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(194, 194, 194);
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
    text-align: justify;  
}
nav ul li a{
    text-decoration: none;
    color: #333;
}
.content h1{
font-size: 60px;
font-weight: 100;
margin-top: -10px;
margin-bottom: -10px;
color: #232d60;
}
.content p{
    font-size: 20px;
    color: #0e0707;
}
.content{
    margin-left: 10%;
    margin-top: 10%;
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(3, 2, 2);
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
    text-align: justify;
    font-size: 24px; 
}
.fa {
        padding: 20px;
        font-size: 30px;
        width: 25px;
        text-align: center;
        text-decoration: mediumblue;
        background: linear-gradient(45deg, #87adfe, #ff77cd);
        position: relative;
        bottom: -55px;
        right: -500px;
        border-radius: 75%;
}


  